body{
    background:#e8e8e8;
}
.content{
    border:3px solid #285f99;
    border-radius:10px;
    background-color: rgba(50, 116, 123, 1);
    width:70%;
    padding:20px;
    text-align:center;
    margin:auto;
}
.timer{
    color:#fff;
    font:60px Tahoma;
}
button{
    width:112px;
    border-radius: 5px;
    font: bold 16px Tahoma;
    height:33px;
    margin:10px;
}
#refresh{
    display: none;
}
.results{
    color:#fff;
    font:22px Tahoma;
}
.results div{
    padding:2px;
    text-align:center;
}